* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla';
  font-style: normal;
  
  text-align: center;
}

.tenzies{
  background-color:  #0B2434;
  margin: 30px;
  padding: 35px 20px;

}
.active{
  padding:20px;
 background-color:  #F5F5F5;
}
.game-name{
  margin: 0;
  padding: 0;
}
.game-desc{
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  letter-spacing: -0.03em;
  padding: 0 40px;
}
.dice-board{
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.dice{
  width: 40px;
  height: 40px;
  background-color: #59E391;
  margin: 5px;
}
button{
  margin: 20px;
  padding: 2px 20px;
  background-color: #5035FF;
  color: white;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
}