* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla";
  font-style: normal;

  text-align: center;
  background-color: #0b2434;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  padding: 20px;
  background-color: #f5f5f5;
  max-width: 1000px;
  max-height: 500px;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-name {
  margin: 0;
  padding: 0;
}

.game-desc {
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  letter-spacing: -0.03em;
  padding: 0 40px;
}

.dice-container{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  align-content: center;
  justify-content: center;
}


.dice {
  width: 40px;
  height: 40px;
  background-color: #59e391;
  margin: 5px;
}

button {
  margin: 20px;
  padding: 5px 20px;
  background-color: #5035ff;
  color: white;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
}